.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html {
  background-color: #f4f3f4;
}
.pokemon-card {
  height: 225px;
}
.button {
  cursor: default !important;
}
